*{
    margin: 0; padding: 0;
}

.coluna1 {
    width: 30%;
    height: 100%;
    background-color: rgb(52, 80, 20);
    position:absolute; 
    left: 0px;
}

.coluna2 {
    width: 70%;
    height: 100%;
    background-color: rgb(43, 226, 83);
     position: absolute; 
    left: 30%;
    top: 0px;
}

