*{
    margin: 0; padding: 0;
}

button {
    background-color: rgb(7, 49, 7);
    color: rgb(131, 98, 133);
    border-radius: 60vh;
}

button:hover {
    background-color: rgb(201, 198, 69);
    color: rgb(12, 3, 3);
}
